@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Contrail+One&family=Knewave&family=Oooh+Baby&family=Vujahday+Script&display=swap');

:root {
    --background: #e3e7ec;

    --btn-orange: #ff9272;

    --light-txt: #eaeaea;
    --dark-txt: #2a2a2a;
    --btn-txt: #3d3d3d;
    --error-txt: #ff5454;

    --size-heading: 5vmax;
    --size-footers: 1.1125vmax;
    --size-button: 1.4vmax;

    --size-form-intro: 1.6vmin;
    --size-form-cta: 3vmin;
    --size-form-heading: 2vmax;
    --size-form-input: 1.4vmax;
    --size-form-label: 1.025vmax;
    --size-form-login-txt: 1.35vmax;
    --size-form-login-a: 2vmax;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Elements*/

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    background: var(--background);
    color: var(--dark-txt);
    font-family: Lato, sans-serif;
}

button {
    width: 14vw;
    height: 5vh;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--btn-orange);
    color: var(--btn-txt);
    font-size: var(--size-button);
    font-family: 'Carter One', cursive;
    font-weight: 700;
    box-shadow: 0 2px 6px 1px rgba(107, 107, 107, 0.6);
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-6%);
}

button:active {
    transform: translateY(4%);
}

a {
    text-decoration: underline;
    color: var(--light-txt);
}

/*Classes*/

.left {
    width: 40vw;
    color: var(--light-txt);;
}

.right, .backImg {
    display: flex;
    flex-flow: column nowrap;
}

.backImg {
    background-image: url(./fachry-zella-devandra-Yta-zdP9PVM-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;

    justify-content: space-between;
    align-items: stretch;
}

.title, .imgAttribution {
    background-color: rgba(17, 17, 17, 0.6);
}

.title {
    height: auto;
    position: relative;
    top: -30vh;
    gap: 2vw;
    padding: 1.2vh 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLogo {
    height: 10vh;
}

.titleText {
    font-family: 'Oooh Baby', cursive;
    font-size: var(--size-heading);
}

.imgAttribution {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 4px;
}

.imgAttribution, .footer {
    font-size: var(--size-footers);
}

.right {
    width: 60vw;

    justify-content: space-between;
    align-items: stretch;
}

.leftSpace {
    padding-left: 1.75vw;
}

.rightSpace {
    padding-right: 0.5vw;
}

.loginText a {
    color: var(--dark-txt);
}

.formIntro {
    margin-top: 8vh;
}

.formIntro .info {
    font-size: var(--size-form-intro);
    font-family: 'Carter One', cursive;
    font-weight: 900;
}

.formIntro .cta {
    font-size: var(--size-form-cta);
    font-weight: 700;
    font-family: 'Vujahday Script', cursive;

    margin-top: 2vh;
}

.formHeading {
    font-family: 'Knewave', cursive;
    font-size: var(--size-form-heading);
    color: var(--dark-txt);
    padding: 2vh 0;
}

.formBody {
    display: flex;
    flex-flow: row wrap;
    gap: 2vw;
    padding: 2vh 0;
}

.inputDiv {
    position: relative;
    width: 40%;
}

.inputDiv input {
    width: 100%;
    padding: 0.75vh 0;
    font-size: var(--size-form-input);
    border: none;
    border-bottom: 1px solid var(--dark-txt);
    outline: none;
    background: transparent;
}

.inputDiv label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75vh 0;
    font-size: var(--size-form-label);
    color: var(--dark-txt);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/*To Show Invalid Inputs*/
.inputDiv input:not(:placeholder-shown) ~ label {
    top: -1.6vmax;
    left: 0;
    color: var(--error-txt);
}

/*Lower CSS Takes Priority over Top CSS to allow for valid inputs*/
.inputDiv input:focus ~ label,
.inputDiv input:valid ~ label {
    top: -1.6vmax;
    left: 0;
    color: var(--dark-txt);
}

.loginText {
    font-family: 'Contrail One', cursive;
    font-size: var(--size-form-login-txt);
    padding: 1.5vh 0;
}

.loginText a {
    font-family: 'Vujahday Script', cursive;
    font-size: var(--size-form-login-a);
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;

    margin-top: 24vh;
    background-color: rgba(253, 154, 100, 0.6);
}
